* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

ul>li {
    list-style: none;
}

.wrapper {
    padding-top: 50px;
}

.content {
    margin: 0 auto;
    width: 500px;
}

.search {
    background-color: brown;
    padding: 20px;
    border-radius: 10px;
}

.searchInput {
    width: 100%;
    font-size: 30px;
    padding: 5px;
}

.list {
    padding-top: 20px;
}

.item {
    padding: 10px 5px;
}

.item:nth-child(odd) {
    background-color: rgb(289, 289, 289);
}